/* width */
::-webkit-scrollbar {
  width: 1px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f3f3f3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(230, 230, 230);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(179, 179, 179);
}

.spacing-xssmall {
  height: 10px;
}

.spacing-xsmall {
  height: 20px;
}

.spacing-small {
  height: 40px;
}

.spacing-medium {
  height: 80px;
}

.spacing-large {
  height: 120px;
}

.border {
  border: 1px solid black;
}

.front-card {
  z-index: 2;
}

.back-card {
  top: -96px;
}

.v-card__title,
.v-card__title * {
  overflow-wrap: anywhere !important;
  word-wrap: break-word !important;
  word-break: normal !important;
  hyphens: auto !important;
}
