/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.spacing-xssmall {
  height: 10px;
}

.spacing-xsmall {
  height: 20px;
}

.spacing-small {
  height: 40px;
}

.spacing-medium {
  height: 80px;
}

.spacing-large {
  height: 120px;
}

.border {
  border: 1px solid black;
}

.front-card {
  z-index: 2;
}

.back-card {
  top: -96px;
}
